In [ ]:
!pip install petl

In [1]:
#import the packages
import petl as etl
import pandas as pd
import numpy as np

In [2]:
table = (etl.fromcsv('C:/Users/Shailesh/test.csv'))

In [3]:
table.look()

+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
| ad                                 | date        | price   | county      | make            | model   | year   | colour   | mileage  | mileageType  | engine_cc | body_type   | fuel_type | transmission | doors | seller_type |
+====================================+=============+=========+=============+=================+=========+========+==========+==========+==============+===========+=============+===========+==============+=======+=============+
| 'f4ec8a11c20bd4da5322c6cf48f49560' | '8/12/2016' | '1250'  | 'Tipperary' | 'ford'          | 'focus' | '2004' | 'grey'   | '182620' | 'miles'      | '1800'    | 'saloon'    | 'diesel'  | 'manual'     | '4'   | 'feed'      |
+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
| '2deccc36451be8362cd4faa696d5039c' | '7/13/2016' | '11500' | 'Limerick'  | 'mercedes-benz' | 'e'     | '2008' | 'other'  | '186000' | 'kilometres' | '2200'    | 'saloon'    | 'diesel'  | 'automatic'  | '4'   | 'feed'      |
+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
| '4fd37b51753ef073d242664cbe136b27' | '8/8/2016'  | '5150'  | 'Tipperary' | 'toyota'        | 'yaris' | '2007' | 'red'    | '65511'  | 'kilometres' | '1000'    | 'hatchback' | 'petrol'  | 'manual'     | '5'   | 'private'   |
+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
| 'c4d50c214f33d26b070bea3afaef3f94' | '9/6/2016'  | '350'   | 'Tipperary' | 'opel'          | 'astra' | '2002' | 'silver' | '153000' | 'miles'      | '1400'    | 'saloon'    | 'petrol'  | 'manual'     | '4'   | 'private'   |
+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
| '3214bb3fd055ab19a2299f748338e6fd' | '8/16/2016' | '34950' | 'Clare'     | 'audi'          | 'a6'    | '2014' | 'black'  | '18800'  | 'miles'      | '2000'    | 'estate'    | 'diesel'  | 'manual'     | '5'   | 'trader'    |
+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
...

In [4]:
table.cut(9,8)

+--------------+----------+
| mileageType  | mileage  |
+==============+==========+
| 'miles'      | '182620' |
+--------------+----------+
| 'kilometres' | '186000' |
+--------------+----------+
| 'kilometres' | '65511'  |
+--------------+----------+
| 'miles'      | '153000' |
+--------------+----------+
| 'miles'      | '18800'  |
+--------------+----------+
...

In [5]:
etl.addrownumbers(table)

+-----+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
| row | ad                                 | date        | price   | county      | make            | model   | year   | colour   | mileage  | mileageType  | engine_cc | body_type   | fuel_type | transmission | doors | seller_type |
+=====+====================================+=============+=========+=============+=================+=========+========+==========+==========+==============+===========+=============+===========+==============+=======+=============+
|   1 | 'f4ec8a11c20bd4da5322c6cf48f49560' | '8/12/2016' | '1250'  | 'Tipperary' | 'ford'          | 'focus' | '2004' | 'grey'   | '182620' | 'miles'      | '1800'    | 'saloon'    | 'diesel'  | 'manual'     | '4'   | 'feed'      |
+-----+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
|   2 | '2deccc36451be8362cd4faa696d5039c' | '7/13/2016' | '11500' | 'Limerick'  | 'mercedes-benz' | 'e'     | '2008' | 'other'  | '186000' | 'kilometres' | '2200'    | 'saloon'    | 'diesel'  | 'automatic'  | '4'   | 'feed'      |
+-----+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
|   3 | '4fd37b51753ef073d242664cbe136b27' | '8/8/2016'  | '5150'  | 'Tipperary' | 'toyota'        | 'yaris' | '2007' | 'red'    | '65511'  | 'kilometres' | '1000'    | 'hatchback' | 'petrol'  | 'manual'     | '5'   | 'private'   |
+-----+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
|   4 | 'c4d50c214f33d26b070bea3afaef3f94' | '9/6/2016'  | '350'   | 'Tipperary' | 'opel'          | 'astra' | '2002' | 'silver' | '153000' | 'miles'      | '1400'    | 'saloon'    | 'petrol'  | 'manual'     | '4'   | 'private'   |
+-----+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
|   5 | '3214bb3fd055ab19a2299f748338e6fd' | '8/16/2016' | '34950' | 'Clare'     | 'audi'          | 'a6'    | '2014' | 'black'  | '18800'  | 'miles'      | '2000'    | 'estate'    | 'diesel'  | 'manual'     | '5'   | 'trader'    |
+-----+------------------------------------+-------------+---------+-------------+-----------------+---------+--------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------+-------------+
...

In [6]:
#select the mileagetype KM only
table1 = etl.select(table, lambda rec: rec.mileageType == 'km' )

In [ ]:
table1

In [7]:
etl.aggregate(table1,'mileageType',len)

+-------------+-------+
| mileageType | value |
+=============+=======+
| 'km'        |   112 |
+-------------+-------+

In [ ]:
table1.tocsv('km.csv')

In [8]:
from sklearn import preprocessing

In [9]:
df = pd.read_csv('C:/Users/Shailesh/km.csv',header=None,skiprows=1, usecols=[8,9])

In [10]:
#standardise the mileage in km
std_scale = preprocessing.StandardScaler().fit(df[[8]])

In [11]:
df_std = std_scale.transform(df[[8]])

In [12]:
df_std.std()

1.0

In [13]:
minmax_scale = preprocessing.MinMaxScaler().fit(df[[8]])
df_minmax = minmax_scale.transform(df[[8]])

In [14]:
df_minmax.std()

0.2280432927743693