In [1]:
#Import all the packages
import pandas as pd
import numpy as np
from scipy.stats import mode
import datetime as dt
import re

In [2]:
#Read the TSV file
df = pd.read_csv('E:/download/BI_Developer_Challenge/donedeal_data_sample.tsv',delimiter='\t',encoding='utf-8')

In [3]:
df.head()

,ad,date,price,county,make,model,year,colour,mileage,mileageType,engine_cc,body_type,fuel_type,transmission,doors,seller_type
0,f4ec8a11c20bd4da5322c6cf48f49560,2016-08-12,1250.0,Tipperary,ford,focus,2004.0,grey,182620.0,miles,1800.0,saloon,diesel,manual,4.0,feed
1,2deccc36451be8362cd4faa696d5039c,2016-07-13,11500.0,Limerick,mercedes-benz,e-class,2008.0,other,186000.0,kilometres,2200.0,saloon,diesel,automatic,4.0,feed
2,4fd37b51753ef073d242664cbe136b27,2016-08-08,5150.0,Tipperary,toyota,yaris,2007.0,red,65511.0,kilometres,1000.0,hatchback,petrol,manual,5.0,private
3,c4d50c214f33d26b070bea3afaef3f94,2016-09-06,350.0,Tipperary,opel,astra,2002.0,silver,153000.0,miles,1400.0,saloon,petrol,manual,4.0,private
4,3214bb3fd055ab19a2299f748338e6fd,2016-08-16,34950.0,Clare,audi,a6,2014.0,black,18800.0,miles,2000.0,estate,diesel,manual,5.0,trader

In [4]:
df.dtypes

ad               object
date             object
price           float64
county           object
make             object
model            object
year            float64
colour           object
mileage         float64
mileageType      object
engine_cc       float64
body_type        object
fuel_type        object
transmission     object
doors           float64
seller_type      object
dtype: object

In [5]:
# Write the function to get the null values
def num_missing(x):
    return sum(x.isnull())

print("Missing Values per columns:")
df.apply(num_missing, axis=0)

Missing Values per columns:

ad                 0
date               0
price           1061
county             0
make               0
model             26
year               4
colour           812
mileage         2250
mileageType      355
engine_cc        338
body_type        980
fuel_type        174
transmission     467
doors           2989
seller_type        0
dtype: int64

In [6]:
df.dtypes

ad               object
date             object
price           float64
county           object
make             object
model            object
year            float64
colour           object
mileage         float64
mileageType      object
engine_cc       float64
body_type        object
fuel_type        object
transmission     object
doors           float64
seller_type      object
dtype: object

In [7]:
# Use MODE to replace the blanks following columns
df['price'].fillna(mode(df['price']).mode[0],inplace=True)
df['mileage'].fillna(mode(df['mileage']).mode[0],inplace=True)
df['engine_cc'].fillna(mode(df['engine_cc']).mode[0],inplace=True)
df['doors'].fillna(mode(df['doors']).mode[0],inplace=True)

In [8]:
#Change the datatype
df['price']= df['price'].astype(int)
df['mileage']= df['mileage'].astype(int)
df['engine_cc'] = df['engine_cc'].astype(int)
df['doors'] = df['doors'].astype(int)

In [9]:
#Remove the numeric value and blanks
df2 = df[df['mileageType'].isin(['km', 'miles','kilometres'])]

In [10]:
#Select model
df2['model']=df2['model'].str.extract('([a-z]\w{0,})', expand=True)

C:\Users\Shailesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
df2

In [11]:
df3= df2.dropna(axis=0, subset=['year'])

In [ ]:
df3

In [12]:
#Change type into INT
df3['year'] = df3['year'].astype(int)

C:\Users\Shailesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
#REmove the numeric values
df4 = df3[(df3['year'] > 1990)]

In [ ]:
df4.to_csv('test.csv')

In [14]:
df['colour']=df4['colour'].fillna(method='ffill')

In [ ]:
df4

In [15]:
impute_grps = df4.pivot_table(values=["price"], index=["body_type"], aggfunc=np.mean)